# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- learn about different languages used in data science
- learn about APIs and Libraries used by data scientists
- become well versed in jupyter notebooks and IBM Watson studio
- learn about different tasks carried out by data scientists

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyr
3. numpy

|Data Science Tools|
------------------
|Jupyter Noteboook|
|Google Colab|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition: `2 + 3 = 5`
2. Subtraction: `7 - 4 = 3`
3. Multiplication: `5 * 6 = 30`
4. Division: `15 / 3 = 5`
5. Exponentiation: `2 ** 4 = 16`

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
result=200/60
print(result)

3.3333333333333335

#